html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header{
    background-image: linear-gradient(#000000c5, #00000098), url(./image/Header_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    
    
}

.header_container{
    width: 70%;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    /* margin-bottom: 160px; */
}

.tel_number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header_content{
    margin-top: 160px;
}
.header_content h2{
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.02em;
}

.header_content h2 span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.02em;
    
    /* green */
 
    color: #77B82A;
}

.header_content .content_p p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FFFFFF;
    margin-top: 42px;
    padding-left: 7%;
    
}

.header_content .content_p{
    position: relative;

}

.green_arrow {
    position: absolute;
    top: 4px;
    left: 0;
}

.action_content{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.action_content .links {
    width: 42%;
    position: relative;

}


.action_content .a1{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    background: #FFC50E;
    border-radius: 2px;
    padding: 12px 25px; 

}

.action_content .a2{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFC50E;
    border: 1px solid #FFC50E;
    padding: 11px 32px 11px 24px;
    margin-left: 30px;
    
}

.fa-file-pdf{
    color: #FFC50E;
    font-size: larger;
    position: absolute;
    top: 1px;
    right: 48px;
}

.fa-file-pdf:hover{
    color: #333333;
}

.action_content .link_2 a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.action_content .link_2{
    position: relative;
    
    
}
/* .action_content .link_2::after{
    content: '';
    background: url(./image/Arrow\ white\ content.png);
    width: 27px;
    height: 8px;
    top: 5px;
    right: -35px;
    position: absolute;
}
.action_content .link_2::before {
    content: '';
    width: 520px;
    height: 432px;
    top: 5px;
    right: -35px;
    position: absolute;
} 

.action_content .link_2 svg:hover{
    color: #FF9900;
}  */

.action_content .link_2 .circle_1{
    position: absolute;
    top: -40px;
    right: -45px;

}


.action_content .link_2 a:hover{
    color: #FFC50E;
}

.action_content .link_2 .circle{
    fill: #FFFFFF;
}
.action_content .link_2 .arrow {
    fill: #FFFFFF;
}



.action_content .link_2 .circle:hover {
    fill: #FFC50E;
    
}

/* .action_content .link_2 img{
    position: absolute;
    top: -110px;
    right: -380px;
} */

.action_content .a1:hover {
    color: #333333;
    background-color: #FF9900;
}

.action_content .a2:hover{
    color: #333333;
    background-color: #FFC50E;
}

.dotted_line{
    width: 105%;
    margin-top: 120px;
    border: 1px dashed #FFFFFF;
}

.header_nav_content{
    margin-top:75px;
    display: flex;
    justify-content: space-between;
}
.nav_content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    padding-left: 45px;
}

.nav_content_1{
    position: relative;
}

.header_nav_content .nav_content_1::before{
    content: '';
    background: url(./image/header_nav_icon_1.png);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: 0;

}

.nav_content_2 {
    position: relative;
}

.header_nav_content .nav_content_2::before{
    content: '';
    background: url(./image/header_nav_icon_2.png);
    width: 32px;
    height: 28px;
    position: absolute;
    top: -8px;
    left: 0;

}

.nav_content_3 {
    position: relative;
}

.header_nav_content .nav_content_3::before {
    content: '';
    background: url(./image/header_nav_icon_3.png);
    width: 32px;
    height: 29px;
    position: absolute;
    top: -8px;
    left: 0;

}

.nav_content_4 {
    /* position: relative; */
    display: flex;
    align-items: center;
}

/* .header_nav_content .nav_content_4::before {
    content: '';
    background: url(./image/header_nav_icon_4.png);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: 0;

} */

/* вариант замены иконуи через бекграунд. Не сработал, так как див не имеет содержимого */

/* .header_nav_content .nav_content_4 .img_4{
    
    background: url(./image/header_nav_icon_4.png);
    height: 50px;
    
}

.header_nav_content .nav_content_4 .img_4:hover {
    background: url(./image/header_nav_icon_4_green.png);
} */

/* Вариант закраски иконки через свг */

.header_nav_content .nav_content_4 .img_4 svg{
    fill: white;
}

.header_nav_content .nav_content_4 .img_4 svg:hover{
    fill: 77B82A;
}