

.container-fluid {
    padding: 0 !important;
    
}

.container-fluid .row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid .row .col {
    padding: 0 !important;

}


/* Начало стилизации видео блока */

.video_block{
    width: 70%;
    background-image: url(./image/video\ mask.png);
    margin: 135px auto;
    text-align: center;
    position: relative;
    
}

.video_block .video_block_img_1{
    width: 100%;
}



.video_block .video_block_img_2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.video_block .video_block_img_3{
    position: absolute;
    top: 50%;
    margin-top: -66px;
    left: 50%;
    margin-left: -58px;
    z-index: 1;
}

/* Конец стилизации видео блока */

/* Начало стилизации заглавия "характеристики забудовы" */

.title_container{
    width: 70%;
    margin: auto;
}
.title{
    margin: auto;
}

.title .h2{
    display: inline;
    text-transform: uppercase;
    position: relative;
}

.title .h2::after{
    content: url(./image/green\ line.png);
    width: 103px;
    height: 2px;
    position: absolute;
    top: 8px;
    right: -72px;
}

.title{
    margin-bottom:70px;
}


/* Конец стилизации заглавия "характеристики забудовы" */

/* Начало стилизации блока "характеристики забудовы" */

.harakteristiki_zabudovu_block{
    width: 70%;
    margin: auto;
    margin-bottom: 70px;
}

.harakteristiki_zabudovu_block .container-fluid{
    margin-top: 75px;
}

.harakteristiki_zabudovu_block .container-fluid .col{
    
}

.harakteristiki_zabudovu_block .container-fluid .col img{

    position: relative;
}

.harakteristiki_zabudovu_block .container-fluid .content_img ::after{
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    left: 25px;
    top: -8px;
    background: #78b82a54;
}




.harakteristiki_zabudovu_block .container-fluid .row{
    margin-top: 20px;
}

.harakteristiki_zabudovu_block .container-fluid .row .content_img p{
    margin: 0;
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #999999;
    
}

.harakteristiki_zabudovu_block .container-fluid .row .content_img{
    margin-top: 30px;
}

.harakteristiki_zabudovu_block .container-fluid .row .content_img .p1{
    color: #333333;
    font-weight: 500;
}

/* начало стилизации юлока с планами */

.plans{
    background-color: #000000;
}
.types_of_plans_block{
    width: 70%;
    margin: auto;
}

.plans .title_container .h2{
    color: #FFFFFF;
}